@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked + #menu {
  display: block;
}

.menu li {
  position: relative;
}

.menu .child-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
}

.menu .child-menu:hover {
      display: block !important;
      position: absolute;
      border: 1px solid #ccc;
      z-index: 999999;
}