@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked + #menu {
  display: block;
}

.menu li {
  position: relative;
}

.menu .child-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
}

.menu .child-menu:hover {
      display: block !important;
      position: absolute;
      border: 1px solid #ccc;
      z-index: 999999;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 768px) {
  .nav-links {
    display: block !important;
  }
}